.header{
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;
    background-image: linear-gradient(rgba($color-secondary, .93),
                      rgba($color-secondary, .93)),
                      url(../img/hero.jpeg);
    background-size: cover;
    padding: 8rem;
    padding-top: 4rem;

    display: grid;
    grid-template-rows: 1fr min-content 1fr minmax(6rem, min-content) 1fr;    //height of the each row
    grid-template-columns: minmax(min-content, max-content);     //never be more narrow of the content and fitted to the max content of the container
    grid-row-gap: 1.5rem;
    justify-content: center;    //aligning all content to the center of the container

    @media only screen and (max-width: $bp-medium){
        grid-column: full-start / full-end;
    }

    &__logo{
        height: 3rem;
        justify-self: center;
    }

    &__btn{
        align-self: start;
        justify-self: start;
    }

    &__seenon-text{
        display: grid;
        grid-template-columns: 1fr max-content 1fr;

        font-size: 1.6rem;
        color: $color-grey-light-2;
        grid-column-gap: 1.5rem;
        align-items: center;

        //creating a line before and after see onn text
        &::before,
        &::after{
            content: "";
            height: 1px;
            display: block;
            background-color: currentColor; //bg-color inherited from his parent ($color-grey-light-2)
        }
    }

    &__seenon-logos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
        align-items: center;

        img{
            height: 2.5rem;
            max-width: 100%;
            align-self: center;
            justify-self: center;
            filter: brightness(70%);
        }
    }
}